header {
    background-color: #1a3067;
}


body {
   background-image: url("/static/tenderloin.png");
   background-color: #cccccc;
}


h1 {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    text-shadow: 4px 4px 4px #aaa;
}


button {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1em;
  width: 8em;
}