header {
    background-color: #1a3067;
}


body {
   background-color: #000000;
}


h1 {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    text-shadow: 4px 4px 4px #aaa;
    color: white;
}


button {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1em;
  width: 8em;
  color: #00FFFF;
  background-color: 01FF70;
}

* {
    color: white;
}